#editIndexCard {
    display: flex;
    justify-content: center;
    padding: 20px;
}

form div{
    padding: 5px;
}

#topRow .MuiFab-root{
    margin-top: 7px;
    margin-left: 5px;
}

#bottomRow {
    display: flex;
    justify-content: center;
}

#bottomRow .MuiFab-root{
    margin: 10px;
}



