#editIndexCard {
    display: flex;
    justify-content: center;
    padding: 20px;
}
form div {
    padding: 5px;
}

#topRow {
    display: flex;
    flex-direction: column;
}

#bottomRow {
    display: flex;
    align-items: center;
}